body {
  margin: 0 auto;
  background: white;
  font-family: Nunito;
  color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header {
  height: 10vh;
  width: 100%;
}

header .hamburger {
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 0;
  margin: 0;
}

header .hamburger, header .navig {
  transition: transform .3s .1s ease-in-out;
}

header .hamburger--active {
  transform: translateX(250px);
}

header .hamburger_box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

header .hamburger_inner {
  width: 100%;
  height: 3px;
  background-color: #555555;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .3s .1s ease;
}

header .hamburger_inner::before,
header .hamburger_inner::after {
  width: 100%;
  height: 3px;
  background-color: #555555;
  position: absolute;
  content: "";
  left: 0;
  transition: transform .3s ease;
}

header .hamburger_inner::before {
  top: -10px;
}

header .hamburger_inner::after {
  top: 10px;
}

header .hamburger--active .hamburger_inner {
  background: transparent;
}

header .hamburger--active .hamburger_inner::before {
  transform: translateY(10px) rotate(45deg);
}

header .hamburger--active .hamburger_inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

header .navig {
  background: linear-gradient(0deg, #363636 0%, #4e4e4e 73%, #7c7c7c 100%);
  height: 100vh;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-250px);
  box-shadow: 5px 5px 10px black;
  opacity: 0.5;
  z-index: 2;
}

header .navig .text:first-child {
  margin-top: 8vh;
}

header .navig .text {
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
  margin-top: 6vh;
  position: relative;
  opacity: 1;
}

header .navig .text:hover {
  cursor: pointer;
}

header .navig .text::before {
  content: '';
  width: 100%;
  position: absolute;
  border-bottom: 3px solid white;
  bottom: -1vh;
  right: 350px;
  transition: 0.7s all;
}

header .navig .text:hover::before {
  right: 0;
}

header .navig--active {
  transform: translateX(0px);
}

main {
  height: 85vh;
  box-sizing: border-box;
  overflow: hidden;
}

#site1 {
  position: fixed;
  background: white;
  background: linear-gradient(180deg, white 0%, #6b6b6b 41%, #3d3d3d 100%);
}

#site2 {
  position: fixed;
  background: white;
  background: linear-gradient(180deg, white 0%, #a8aa00 100%);
  display: none;
  opacity: 0;
}

#site3 {
  position: fixed;
  background: white;
  background: linear-gradient(180deg, white 0%, #8a0000 100%);
  display: none;
  opacity: 0;
}

#site4 {
  position: fixed;
  background: white;
  background: linear-gradient(180deg, white 0%, #43008a 100%);
  display: none;
  opacity: 0;
}

#site5 {
  position: fixed;
  background: white;
  background: linear-gradient(180deg, white 0%, #00568a 100%);
  display: none;
  opacity: 0;
}

.content {
  height: 100%;
  width: 100%;
  transition: all 2s ease-in-out;
}

.cleft {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 50%;
  padding-top: 20vh;
  height: 100%;
  float: left;
}

.cright {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
}

.Slides {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px black;
  border-bottom-right-radius: 2vh;
  border-top-left-radius: 2vh;
  transition: all 3s ease-in-out;
}

.slider {
  width: 80vh;
  height: 50vh;
  align-items: center;
  position: relative;
  padding-top: 15vh;
}

#slider_button_left {
  position: absolute;
  top: 55%;
  z-index: 2;
  left: 0;
}

#slider_button_right {
  position: absolute;
  top: 55%;
  z-index: 2;
  right: 0;
}

.lefttext {
  z-index: 1;
  width: 50%;
  text-align: left;
  transition: transform 3s ease-in-out;
  font-size: 2vh;
}

.insitetext {
  z-index: 1;
  width: 50%;
  text-align: left;
  transition: transform 3s ease-in-out;
  font-size: 2vh;
  transform: translateX(50%);
}

.swipeslider {
  font-size: 6vh;
  background: transparent;
  border: none;
  color: white;
}

.swipeslider:hover {
  opacity: .5;
  cursor: pointer;
}

footer {
  height: 5vh;
}
