html
{

}
body
{
	background-color:#303030;
	color: #ffffff;
	font-family:'Lato',sans-serif;
	font-size: 20px;
	margin: 0 ! important;
	width: 100%;
}

#wrapper
{
	width: 100%;
}
#top
{
	width: 100%;
	padding:40px 0;

}
#logo
{
	text-align: center;
	font-size: 48px;
	margin-right: auto;
	margin-left: auto;
	font-size: 70px;
}
header > div > a
{
	text-decoration: none;
	color: #ffffff;
}
.nav
{
	width: 100%;
	padding: 10px 0;
	background-color:#555555;
	text-align: center;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
#kontent
{
	float: left;
	width: 70%;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
#box
{
	padding-left: 15%;
	width: 85%;
}
#stopka
{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #222222;
}
.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 20px;
	height: 35%;
	line-height: 200%;
	display: inline-block;
}
ol a
{
	color: #EEEEEE;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #333333;
	border-left: 1px dashed #333333;

}
ol > li:first-child
{
	border-left: 1px dashed #333333;

}
/*
ol > li:hover
{
	background-color:#66FFFF;
}
*/
.top1
{
transition: background-color 0.3s ease-in-out;
}
.top2
{
transition: background-color 0.3s ease-in-out;
}
.top3
{
transition: background-color 0.3s ease-in-out;	
}
.top4
{
transition: background-color 0.3s ease-in-out;	
}
.top5
{
transition: background-color 0.3s ease-in-out;	
}
.top1:hover
{
	background-color:#999999;
	color: #555555;
	text-shadow: 1px 1px 10px white;

}
.top2:hover
{
	background-color:#66FFFF;
	color: #555555;

}
.top3:hover
{
	background-color:#55EE88;
	color: #555555;
}
.top4:hover
{
	background-color:#EE8877;
	color: #555555;
}
.top5:hover
{
	background-color:#CCCC66;
	color: #555555;

}


ol > li:hover > a
{
	color:  #EEEEEE;
}
ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}
ol > li > ul > li
{
	background-color: #555555;
	position: relative;
	z-index: 100;
	border-top:  1px dashed #333333;
}
ol > li > ul > li:hover
{
	background-color:#555555;
	
}
ol > li > ul > li:last-child
{
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
/*
ol > li > ul > li:hover > a
{
	color:#6666FF;
*/
ol > li:hover > ul
{
	display: block;
}

#nawigacja
{
	margin-top: 33px;
	border: dashed 2px;
	float: left;
	width: 12%;
	background-color:#303030;
	list-style-type: none;
	margin-right: 15px;
	font-size: 18px;
	text-align: center;
	margin-left: 3%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#nawigacja a
{
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	text-decoration: none;
	color: #EEEEEE;
	text-align: center;
}

#nawigacja a:hover
{
	width: 100%;
	background-color: #414141;
	text-decoration: none;
}
#nawigacja li
{
	border-bottom:dashed 1px;
	border-color: #414141;
}
#nawigacja li:first-child
{
	border-bottom: none;
}
#nawigacja li:last-child
{
	border-bottom: none;
}
.galeria
{
	margin-top: 15px;
	float: left;
	margin-left: 40px;
	width: 308px;
	height: 208px;
	box-shadow: 5px 5px 15px black;
	background-color: white;
	overflow: hidden;
}
.galeria img
{
	margin-left: 4px;
	margin-top: 4px;
	width: 300px;
	height: 200px;
	transition: ease-in-out 0.4s all ;
}
.galeria img:hover
{
	transform: scale(1.2);
}
#head_gal
{
	text-shadow: 2px 2px 5px silver;
	text-align: center;
	height: 100px;
}
.icon-angle-left
{
	margin-top: -100px;
	margin-left: 70px;
	float: left;
	transition: 0.4s ease-in-out all;
}
.icon-angle-left:hover
{
	margin-left: 40px;
	transform: scale(1.1);
}
a
{
	text-decoration: none;
	color: white;
}