body
{
	background-color: #303030;
	font-family:'Lato',sans-serif;
	font-size: 20px;
	margin: 0 ! important;
	color: #ffffff;
	height: 100%;
	width: 100%;
}
#top
{
	width: 100%;
	height:100px;
	background-color: #414141;
	border-bottom:dashed 2px;
	border-bottom-color: white;
	color: white;
	text-align: center;
	padding-top: 25px;
	font-size: 50PX;
	box-shadow: 5px 5px 10px black;
	text-shadow: 2px 2px 7px #9966FF;
}
#menu
{
	margin-top: 25px;
	width: 250px;
	height: 457px;
	float: left;
	margin-left: 50px;
	background-color: #858585;
	box-shadow: 5px 5px 10px black;
}
.wyb:first-child
{
	margin-top:5px;
}
.wyb
{
	margin-top:5px;
	float: left;
	width: 240px;
	height: 47px;
	margin-left:5px;
	margin-right: 5px;
	background-color:#414141;
	text-align: center;
	padding-top: 23px;
	color: #FFFFFF;
	text-decoration: none;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	

}
.wybrany
{
	float: left;
	width: 240px;
	height: 47px;
	margin-left:5px;
	margin-right: 5px;
	background-color:#9966FF;
	text-align: center;
	padding-top: 23px;
	color: #FFFFFF;
	text-decoration: none;
	box-shadow: 5px 5px 10px black;
}
.wyb:hover
{
	background-color: #6633DD;
	transform: scale(0.9);
	box-shadow: 5px 5px 10px black;
}
#box
{

	margin-top: 20px;
	width: 70%;
	height: 475px;
	background-color:#858585;
	margin-left: 200px;
	margin-right: auto;
	box-shadow: 5px 5px 10px black;
}

#dana
{
	margin-top: 20px;
	margin-left: 25px;
	float: left;
	width: 19%;
	height: 6%;
	padding-top: 40px;
}
#button
{
	height: 55px;
	width: 200px;
	background-color: #414141;
	margin-top: 250px;
	margin-left: 350px;
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
}
#wynik
{
	float: left;
	width: 65%;
	height: 65px;
	background-color: #525252;
	margin-top: 20px;
	margin-left: 15px;
	font-size: 30px;
	text-align: center;
	padding-top: 35px;
	box-shadow: 5px 5px 10px black;
	text-shadow: 2px 2px 7px #9966FF;
}
#wynik_text
{
	margin-top:85px; 
	float: left;
	width: 12%;
	height: 7%;
	padding-top: 35px;
	font-size: 30px;
	margin-left: 25px;
}
input[type="text"]
{
width: 50%;
height:100px;
background-color: white;
margin-left: 50px;
margin-top: 20px;
border:1px dashed;
border-color:black;
float: left;
font-size: 40px;
box-shadow: 5px 5px 10px;
text-align: center;
}
input[type="submit"]
{
	height: 11%;
	width: 21%;
	background-color: #414141;
	margin-top: 10px;
	margin-left: 225px;
	text-align: center;
	font-size: 25px;
	color: white;
	transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
input[type="submit"]:hover
{
	color:#9966FF;
	text-shadow: 2px 2px 7px #9966FF;
	transform: scale(0.95);
}
#calc
{
padding-top: 150px;
font-size: 50px;
text-align: center;
}