body
{
	background-color:#303030;
	color:white;
	font-size: 30px;
	font-family:'Lato',sans-serif;
	-webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	  -moz-user-select: none;
	   -ms-user-select: none;
	    user-select: none;
}
#BOX
{
width: 900px;
margin-left: auto;
margin-right: auto;
}
#plansza
{
width: 900px;
margin-top:50px;
margin-bottom: 50px;
text-align: center;
font-size: 48px;
min-height: 60px;
}
#szubienica
{
background-color: white;
float: left;
width: 450px;
text-align: center;
min-height: 280px;
box-shadow: 10px 10px 10px black;
}
#szubienica > img
{
	padding-top: 1px;
	width: 448px;
	height: 278px;
	min-height: 278px;
	min-width: 448px;
}
#alfabet
{
margin-left: 20px;
float: left;
width: 430px;
text-align: center;
min-height: 280px;
}
.litera
{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border:3px solid grey;
	float: left;
	cursor: pointer;
	border-radius:15px;
	transition: all 0.2s ease-in-out;
	box-shadow: 5px 5px 10px black;
}
.litera:hover
{
	transform: scale(0.9);
	border-color: #66FFFF;
	color: #66FFFF;
}
#nazwa
{
	width: 100%
	height:120px;
	font-size: 50px;
	text-align: center;
	text-shadow: 5px 5px 10px black;
}
#back
{	
	float: left;
	text-decoration: none;
	height: 80px;
	width: 242px;
	background-color: #414141;
	margin-top: 20px;
	box-shadow: 5px 5px 10px black;
	border-radius: 20px;
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
	text-shadow: 5px 5px 10px black;
	color:#33FF66;
	transition: all 0.3s ease-in-out;
}
#sg
{	
	float: left;
	text-decoration: none;
	height: 70px;
	width: 242px;
	background-color: #414141;
	margin-top: 20px;
	box-shadow: 5px 5px 10px black;
	border-radius: 20px;
	font-size: 35px;
	text-align: center;
	padding-top: 20px;
	text-shadow: 5px 5px 10px black;
	color:#33FF66;
	margin-left: 20px;
	transition: all 0.3s ease-in-out;

}
#sg:hover
{
	transform: scale(1.1);
}
#back:hover
{
	transform: scale(1.1);
}
#losuj
{
	margin-left: 70px;
	height: 70px;
	width: 300px;
	background-color: #414141;
	float: left;
	margin-top: 20px;
	text-align: center;
	padding-top: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px black;
	text-shadow: 5px 5px 10px black;
	transition: all 0.3s ease;
	overflow: hidden;
}
#losuj:hover
{
	transform: scale(0.9);
	font-size: 33px;
	cursor: pointer;
}